html {
    background-color: #1f2223;
}

h1 {
    color: #ffffe9;
}

p {
    color: #ffffe9;
}

a {
    text-decoration: none;
}

@media (min-width: 200px) {
    .header-links-container {
        margin-top: 2%;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 800px) {
    .header-links-container {
        margin-top: 2%;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}

.header-links {
    color: #c0dcba;
    text-decoration: none;
    margin-right: 1.5em;
    font-family: 'Nunito';
}

.intro-title {
    color: 	#ee7171;
    font-size: 9em;
    font-family: 'EB Garamond';
}

.intro-subtitle {
    color: #a1bbd2;
    font-family: 'EB Garamond';
    font-size: 2.1em;
    margin-bottom: 0;
}

@media (min-width: 370px) {
    .intro-subtitle {
        margin-top: -5%;
    }
}

@media (min-width: 500px) {
    .intro-subtitle {
        margin-top: -4%; 
    }
}

@media (min-width: 850px) {
    .intro-subtitle {
        margin-left: 7%;
        margin-top: -4%;
    }
}

@media (min-width: 1100px) {
    .intro-subtitle {
        margin-left: 4%;
        margin-top: -3%;
    }
}

@media (min-width: 1600px) {
    .intro-subtitle {
        margin-left: 3%;
        margin-top: -2.5%;
    }
}

.intro-sublinks {
    margin-top: 12%;
    margin-left: 2%;
}

.intro-link {
    color: #ffffe9;
    font-family: 'Nunito';
    font-weight: lighter;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 7%;
    margin-top: 5%;
    height: 40em;
}

.page-content {
    margin-top: 5%;
    margin-left: 20%;
}

.about-heading {
    color: 	#ee7171;
    font-size: 3em;
    font-family: 'EB Garamond';
}

.about-text {
    color: #ffffe9;
    font-family: 'Nunito';
}





